CompileFlags:
  CompilationDatabase: build/ninja
Diagnostics:
    ClangTidy:
        Remove:
        [bugprone-implicit-widening-of-multiplication-result,
         bugprone-easily-swappable-parameters,
         bugprone-narrowing-conversions,
         cppcoreguidelines-narrowing-conversions,
         cppcoreguidelines-non-private-member-variables-in-classes,
         cppcoreguidelines-avoid-magic-numbers,
         cppcoreguidelines-pro-bounds-constant-array-index,
         misc-non-private-member-variables-in-classes,
         modernize-use-trailing-return-type,
         readability-identifier-length,
         readability-uppercase-literal-suffix,
         readability-magic-numbers,
         readability-else-after-return,
         readability-static-accessed-through-instance,
         readability-avoid-const-params-in-decls]