---
Checks: "*,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-type-vararg,
        -misc-non-private-member-variables-in-classes,
        -modernize-use-trailing-return-type,
        -performance-enum-size,
        -portability-avoid-pragma-once,
        -readability-identifier-length,
        -readability-avoid-unconditional-preprocessor-if,
        -readability-magic-numbers,
        -readability-uppercase-literal-suffix,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -llvm*,
        -boost-*,
        -google-*,
        -hicpp-*,
        -zircon-*,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  modernize-use-std-numbers.DiffThreshold: '0.0001'